/*@tailwind base;*/
/*@tailwind components;*/
/*@tailwind utilities;*/

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: "#d6d6d6";
    --background-end-rgb: 255, 255, 255;
    transform: scale(0.8);
    transform-origin: top;
}
/*@media only screen and (max-width: 600px) {*/
/*    !* 스타일 정의 *!*/
/*}*/

/*html, body, #root {*/
/*    padding: 0px !important;;*/
/*    margin: 0px !important;;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*}*/


/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
    color: rgb(var(--foreground-rgb));
    background: #f7f7f7;
}


/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/


/*.slider {*/
/*  color: #20b2aa;*/
/*}*/

/*.slider:hover {*/
/*  color: #2e8b57;*/
/*}*/

/*.slider .MuiSlider-thumb {*/
/*  border-radius: 1px;*/
/*}*/